<ion-view view-title="האגודה">
  <ion-content id="about">
      <img id="aguda-logo" /><br />
      <a class="button button-full" id="facebook" href="https://www.facebook.com/pages/%D7%94%D7%90%D7%92%D7%95%D7%93%D7%94-%D7%94%D7%99%D7%A9%D7%A8%D7%90%D7%9C%D7%99%D7%AA-%D7%A0%D7%92%D7%93-%D7%A0%D7%99%D7%A1%D7%95%D7%99%D7%99%D7%9D-%D7%91%D7%91%D7%A2%D7%9C%D7%99-%D7%97%D7%99%D7%99%D7%9D/181164475265049" target="_blank">אנחנו ב-Facebook</a>
      <a class="button button-full" id="website" href="http://www.isav.org.il/" target="_blank">לאתר האגודה</a>
  </ion-content>
</ion-view>
