#about {

    text-align: center;
    padding-top: 20px;

    #aguda-logo {
        content: url('../img/aguda-logo2.png');
        height: 60px;
    }

    #text {
        font-size: 17px;
        margin: 20px 10px;
    }

    .button {
        width: 90%;
        margin: auto;
        margin-top: 10px;
    }

    #facebook {
        background: #3A619D;
        color: white;
    }

    #website {
        color: white;
    }

}