#about {

    text-align: center;
    padding-top: 20px;

    #aguda-logo {
        content: url('../img/aguda-logo.png');
    }

    .button {
        width: 90%;
        margin: auto;
        margin-top: 10px;
    }

    #facebook {
        background: #3E59B0;
        color: white;
    }

    #website {
        color: white;
    }

}