#company {
    #is-experimenting {
        text-align: center;

        img {
            width: 150px;
        }

        #not-experimented-image {
            content: url('../img/lg-not-experimented.png');
        }

        #official-rabbit {
            content: url('../img/official-rabbit.png');
            width: 109px;
        }

        #experimented-image {
            content: url('../img/lg-experimented.png');
        }

        h2 {
            margin: 0;
            font-size: 22px;
        }

    }

    h5 {
        font-size: 16px;
        text-align: center;
        margin-top: 20px;
    }
}