#contact {
    text-align: center;
    margin: 40px 0;

    span {
        position: relative;
        top: 12px;
        margin-left: 7px;
    }

    .button {
        color: white;
        padding: 0px 24px;
    }
}