.item-complex.item-icon-left {
    padding-right: 0 !important;
}

.item-icon-left {
    padding-right: 54px !important;
}

.item-icon-left .icon {
    right: 11px;
}

.rabbit-icon {
    background: url('../img/rabbit-icon.png');
    width: 33px;
    background-repeat: no-repeat;
    background-size: contain;
    margin-top: 20px;
}

.item h3 {
    color: #848484;
}

.experimented {
    color: red !important;
}

.not-experimented {
    color: green !important;
}

#no-data {
    text-align: center;
    margin-top: 10px;
    font-size: 22px;
    line-height: 28px;

    img {
        height: 220px;
        content: url('../img/no-data.png');
    }

    .button {
        margin-top: 20px;
        color: white;
    }
}