.bar.item-input-inset .item-input-wrapper {
    background: #7d5d9a !important;
}

.placeholder-icon, .clear-search  {
    font-size: 19px;
    margin-left: 3px;
    color: white;
}

.bar.item-input-inset .item-input-wrapper input {
    font-size: 16px;
    padding-right: 3px;
    height: 31px;
    line-height: 21px;
    color: white;
}
